<!DOCTYPE html>
<html>

<head>
  <style>
    /* Set the size of the div element that contains the map */

    #map {
      height: 800px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>
</head>

<body>
  {% csrf_token %}
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <h3>Google Maps Address Saver</h3>
  <!--The div element for the map -->
  <div id="map"></div>
  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      {% if map_centre_lat and map_centre_lng %}
        var uluru = {
          lat: {{ map_centre_lat }},
          lng: {{ map_centre_lng }}
        };
        var map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 8,
            center: uluru
          });
      {% else %}
        var uluru = {
          lat: 53,
          lng: -7
        };
        var map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 8,
            center: uluru
          });
      {% endif %}
      {% if fusion_table_rows %}
        {% for row in fusion_table_rows %}
          var uluru = {
            lat: {{ row.1 }},
            lng: {{ row.2 }}
          };
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
          {% endfor %}
      {% endif %}
      map.addListener('click', function(e) {
        // alert(e.latLng)
        // placeMarkerAndPanTo(e.latLng, map);
        var geocoder = new google.maps.Geocoder();

        // Geocode the address
        geocoder.geocode({
          'location': e.latLng
        }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK && results.length > 0 && !(results[0]["formatted_address"].includes("Unnamed Road"))) {
            csrf = getCookie("csrftoken");
            $.ajax({
              type: "POST",
              url: "/maps/main/",
              data: JSON.stringify(results[0]),
              beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrf);
              },
              success: function(result) {
                location.reload();
              }
            });
            // set it to the correct, formatted address if it's valid
            // addr.value = results[0].formatted_address;
            // placeMarkerAndPanTo(e.latLng, map);
            // show an error if it's not
          } else alert("Invalid address");
        });
      });
    }
  </script>
  <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8_LBQpAEXp3Lr0rnK9qw2ONWeZUzCg54&callback=initMap">
  </script>
</body>

</html>
